asgiref
charset-normalizer
coreapi
coreschema
cryptography
Django
django-adminlte-3
django-ckeditor
django-filter
django-js-asset
django-resized
django-templated-mail
djangorestframework
djangorestframework-simplejwt
drf-yasg
frozenlist
Jinja2
magic-filter
MarkupSafe
modules
Pillow
pycparser
PyJWT
requests
sqlparse
tzdata
uritemplate
virtualenv

